<head>
  <meta charset="utf-8">
</head>
<ons-page class="transparent home">
  <ons-toolbar modifier="transparent">
    <div class="right">
      <img src="../www/images/iconos/español.png">
      <img src="../www/images/iconos/ingles.png">
  <!--
      <ons-toolbar-button ng-click="menu.setMainPage('localizacion.html', {closeMenu: true})" ><ons-icon icon="ion-ios-location" style="color: #666666; font-size: 28px;"></ons-icon></ons-toolbar-button>
      --></div>
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" style="color: #666666; font-size: 28px;" fixed-width="false"></ons-icon></ons-toolbar-button>
    </div>
  </ons-toolbar>

    <!-- Start cssSlider.com -->
    <div class='csslider1 autoplay bg-home '>
        <input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide' >
        <input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide' >
        <input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide' >
        <input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked>
        <input name="cs_anchor1" id='cs_pause1' type="radio" class='cs_anchor' >
        <ul>
            <div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
                <img src='images/slides/home/bg_home1.jpg' style="width: 100%;">
        </div>
            <li class='num0 img'>
                <img src='images/slides/home/bg_home2.jpg'  style="width: 100%;" alt='Santa Marta' title='Santa Marta' />
            </li>
            <li class='num1 img'>
                <img src='images/slides/home/bg_home3.jpg'  style="width: 100%;" alt='Santa Marta' title='Santa Marta' />
            </li>
            <li class='num2 img'>
            <img src='images/slides/home/bg_home4.jpg'  style="width: 100%;" alt='Santa Marta' title='Santa Marta' />
        </li>
            <li class='num2 img'>
                <img src='images/slides/home/bg_home5.jpg'  style="width: 100%;" alt='Santa Marta' title='Santa Marta' />
            </li>

        </ul class="bg-home">


    </div>
    <!-- End cssSlider.com -->


  <div class="content home">
    <div class="logo">
      <h2 class="home-title"><IMG SRC="../www/images/logo.svg"></h2>
    </div>
    <div class="iconos-home">
        <img ng-click="menu.setMainPage('localizacion.html')" src="../www/images/iconos/localizacion.png">
        <img ng-click="menu.setMainPage('que_hacer.html')" src="../www/images/iconos/quehacer.png">
        <img ng-click="menu.setMainPage('redes_sociales.html')" src="../www/images/iconos/socialmedia.png">
        <img ng-click="menu.setMainPage('galeria.html')" src="../www/images/iconos/galeria.png">
        <br/>
        <img ng-click="menu.setMainPage('http://www.santamarta.gov.co')" class="iconos-footer" src="../www/images/iconos/alcaldiadesantamarta.png">
        <img ng-click="menu.setMainPage('geolocalizacion.html')" class="iconos-footer" src="../www/images/iconos/santamartaestacambiando.png">
    </div>
  </div>

</ons-page>