<head>
  <meta charset="utf-8">
</head>
<ons-list class="menu-list">
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('inicio.html', {closeMenu: true})">
    <ons-icon icon="fa-home" fixed-width="true"></ons-icon>
    Inicio
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('santa_marta.html', {closeMenu: true})">
    <ons-icon icon="fa-file-o" fixed-width="true"></ons-icon>
    Santa Marta
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('que_hacer.html', {closeMenu: true})">
    <ons-icon icon="fa-glass" fixed-width="true"></ons-icon>
    Qué hacer
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('sitios_de_interes.html', {closeMenu: true})">
    <ons-icon icon="fa-star" fixed-width="true"></ons-icon>
    Sítios de interés
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('hoteleria.html', {closeMenu: true})">
    <ons-icon icon="fa-qrcode" fixed-width="true"></ons-icon>
    Hotelería
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('galeria.html', {closeMenu: true})">
    <ons-icon icon="fa-th" fixed-width="true"></ons-icon>
    Galería
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('localizacion.html', {closeMenu: true})">
    <ons-icon icon="fa-map-marker" fixed-width="true"></ons-icon>
    Localización
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('festividades.html', {closeMenu: true})">
    <ons-icon icon="fa-music" fixed-width="true"></ons-icon>
    Festividades
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('informacion_practica.html', {closeMenu: true})">
    <ons-icon icon="fa-bookmark" fixed-width="true"></ons-icon>
    Información práctica
  </ons-list-item>
</ons-list>
