<head>
  <meta charset="utf-8">
</head>
<ons-list class="menu-list">
  <ons-list-item class="menu-item item-inicio" ng-click="menu.setMainPage('inicio.html', {closeMenu: true})">
    <img src="../www/images/iconos/flecha.png">
   <span>Inicio</span>
  </ons-list-item>
  <ons-list-item class="menu-item item-santamarta" ng-click="menu.setMainPage('santa_marta.html', {closeMenu: true})">
    <img src="../www/images/iconos/flecha.png">
    <span>Santa Marta</span>
  </ons-list-item>
  <ons-list-item class="menu-item item-quehacer" ng-click="menu.setMainPage('que_hacer.html', {closeMenu: true})">
    <img src="../www/images/iconos/flecha.png">
    <span>Qué hacer</span>
  </ons-list-item>
  <ons-list-item class="menu-item item-sitiosdeinteres" ng-click="menu.setMainPage('sitios_de_interes.html', {closeMenu: true})">
    <img src="../www/images/iconos/flecha.png">
   <span>Sítios de interés</span>
  </ons-list-item>
  <ons-list-item class="menu-item item-hoteleria" ng-click="menu.setMainPage('hoteleria.html', {closeMenu: true})">
    <img src="../www/images/iconos/flecha.png">
    <span>Hotelería</span>
  </ons-list-item>
  <ons-list-item class="menu-item item-galeria" ng-click="menu.setMainPage('galeria.html', {closeMenu: true})">
    <img src="../www/images/iconos/flecha.png">
    <span>Galería</span>
  </ons-list-item>
  <ons-list-item class="menu-item item-localizacion" ng-click="menu.setMainPage('localizacion.html', {closeMenu: true})">
    <img src="../www/images/iconos/flecha.png">
    <span>Localización</span>
  </ons-list-item>
  <ons-list-item class="menu-item item-festividades" ng-click="menu.setMainPage('festividades.html', {closeMenu: true})">
    <img src="../www/images/iconos/flecha.png">
    <span>Festividades</span>
  </ons-list-item>
  <ons-list-item class="menu-item item-informacionpractica" ng-click="menu.setMainPage('informacion_practica.html', {closeMenu: true})">
    <img src="../www/images/iconos/flecha.png">
    <span>Información</span>
  </ons-list-item>
  <ons-list-item class="smestacambiando" ng-click="menu.setMainPage('santamartaestacambiando.html', {closeMenu: true})">
      <span>¿Porque Santa Marta Esta cambiando?</span>
  </ons-list-item>
</ons-list>
